doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title React Todo
    link(rel='stylesheet' href='vendor/bootstrap/dist/css/bootstrap.min.css')
  body
    #content
    script(src='vendor/react/react.min.js')
    script(src='vendor/react/react-dom.min.js')
    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='scripts/_App_ES5.js')
